@reference "../globals.css";

.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-8;
}

.markdown h1 {
  @apply mb-4 mt-12 text-4xl font-bold leading-tight;
}

.markdown h2 {
  @apply mb-4 mt-12 text-3xl font-bold leading-snug;
}

.markdown h3 {
  @apply mb-4 mt-8 text-2xl font-bold leading-snug;
}

.markdown h4 {
  @apply mb-4 mt-4 text-xl font-bold;
}

/* Mobile styles for Markdown */
@media (width <= 600px) {
  .markdown p,
  .markdown ul,
  .markdown ol,
  .markdown blockquote {
    @apply my-4;
  }

  .markdown h1 {
    @apply mb-4 mt-12 text-3xl font-bold leading-snug;
  }

  .markdown h2 {
    @apply mb-4 mt-8 text-2xl font-bold leading-snug;
  }

  .markdown h3 {
    @apply mb-4 mt-4 text-xl font-bold;
  }

  .markdown h4 {
    @apply mb-4 mt-4 text-base font-bold;
  }

  .markdown {
    @apply text-sm leading-relaxed;
  }
}

.markdown li {
  overflow-wrap: break-word;
  text-align: justify;
  text-wrap: pretty;
}

.markdown ul li {
  list-style-position: outside;
  padding-left: 0.5rem;
}

.markdown ol li {
  list-style-position: inside;
  padding-left: 0.5rem;
}

.markdown ol {
  list-style-type: decimal;
}

.markdown ol li::marker {
  color: #22b8cf;
  font-weight: bolder;
}

.markdown ul li::marker {
  content: "|";
  color: #22b8cf;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-left: 2.5em;
  border-left: 5px solid #22b8cf;
}

.markdown a {
  color: #2262cf;
  font-weight: bold;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown blockquote {
  font-style: italic;
  color: #555;
  padding: 10px 5px 5px 25px;
  border-left: 4px solid #22b8cf;
  line-height: 1.6em;
  position: relative;
  background: #ededed;
}

.markdown blockquote::before {
  content: "\201C";
  color: #22b8cf;
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -15px;
}

.markdown img {
  width: 80%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown em {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
}
