.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1 {
  @apply text-4xl mt-12 mb-4 font-bold leading-tight;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 font-bold leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
  font-weight: bold;
}

.markdown h4 {
  @apply text-xl mt-4 mb-4;
  font-weight: bold;
}

.markdown li {
  list-style-position: outside;
  padding-left: 0.5rem;
}

.markdown li::marker {
  content: "|";
  color:  #22b8cf;
  font-size: 1.3rem;
  font-weight: bolder;
  padding-left: 2.5em;
  border-left: 5px solid #22b8cf;
}
