@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* スマートフォンで横幅が狭くなるのを抑制 */
main {
  overflow-x: hidden;
}

body {
  &:lang(en) {
    font-kerning: normal;
    text-wrap: pretty;
  }

  &:lang(ja) {
    font-kerning: none;
  }
}
